body {
    color: #000;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    display: block;
    margin: 8px;
}

body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    word-break: break-all;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

.Header {
    width: 100%;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

@media screen and (max-width: 767px){
.Header {
    padding-top: 15px;
    padding-bottom: 15px;
}
}

@media screen and (max-width: 1080px){
.Header {
    background-color: #fff;
    position: fixed;
    z-index: 10;
}
}

header {
    display: block;
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 36px 0 36px;
    max-width: 100%;
    position: relative;
}

@media screen and (max-width: 767px){
.HeaderContainer {
    max-width: 100%;
    margin: 0 20px;
}
}

@media screen and (min-width: 768px) {
.HeaderLogo {
    transition: opacity 0.2s;
}
}

@media screen and (max-width: 767px){
.HeaderLogo__image--pc {
    display: none;
}
}

@media screen and (max-width: 767px){
.HeaderLogo__image--sp {
    display: block;
}
}

.HeaderLogo__image--pc {
    display: block;
    height: 20px;
    width: auto;
}

.HeaderLogo__image--sp {
    display: none;
    height: 16px;
    width: auto;
}

.HeaderContainer>*:last-child {
    display: inline-flex;
}

.HeaderNavHamburger jsc-hamburger{
    display: none;
}

@media screen and (max-width: 1080px){
.HeaderNavHamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
}
}

element.style {
}

@media screen and (max-width: 1080px){
.HeaderNavHamburger__line:first-child {
    top: 0;
}
}

@media screen and (max-width: 1080px){
.HeaderNavHamburger__line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
}
}

.HeaderNavList {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1080px){
.HeaderNavList {
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform 0.5s;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-overflow-scrolling: touch;
    height: 100%;
}
}

@media screen and (max-width: 1080px){
.HeaderNavListItem:last-of-type {
    margin-top: 20px;
}
}

@media screen and (min-width: 768px){
.HeaderNavListItem__button:hover {
    opacity: 0.8;
}
}

ul, ol {
    list-style: none;
}

@media screen and (min-width: 768px){
.HeaderNavListItem {
    transition: opacity 0.2s;
}
}

.HeaderNavListItem {
    margin-right: 45px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.HeaderNavListItem__link {
    display: block;
}

.HeaderNavListItem__link>span:first-child {
    font-family: 'Lato', sans-serif;
}

.HeaderNavListItem__link>span {
    display: block;
    font-weight: 700;
    text-align: center;
}

.HeaderNavListItem:last-of-type {
    margin-right: 0;
}

.HeaderNavListItem__button {
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
}


main {
    display: block;
}

.FirstView {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 28px;
}

section {
    display: block;
}

.FirstView__main-image--sp {
    display: none;
}

.FirstView__main-image {
    width: 100%;
}

img {
    border: 0;
    vertical-align: middle;
}

.FirstView__container {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@media screen and (max-width: 767px){
.FirstView__container {
    margin-top: -45vw;
}
}

.FirstViewContent {
    margin-bottom: 70px;
    width: fit-content;
}

@media screen and (min-width: 768px){
.FirstViewContent__buttons a:hover {
    opacity: 0.8;
}
}

.FirstViewContent__title {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 15px;
    text-align: center;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.FirstViewContent__images {
    margin-bottom: 25px;
}

.FirstViewContent__images img {
    margin-right: 8px;
}

img {
    border: 0;
    vertical-align: middle;
}

.FirstViewContent__images img:nth-of-type(2) {
    width: 40%;
}

.FirstViewContent__images img {
    margin-right: 8px;
}

.FirstViewContent__images img:last-of-type {
    margin-right: 0;
}

.FirstViewContent__buttons {
    display: flex;
}

.FirstViewContent__buttons a:first-of-type {
    margin-right: 15px;
    width: 306px;
}

@media screen and (min-width: 768px){
.FirstViewContent__buttons a {
    transition: opacity 0.2s;
}
}

.FirstViewContent__buttons a {
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 64px;
}

a {
    color: #000;
    text-decoration: none;
}

.FirstViewContent__buttons a:last-of-type {
    background-color: #fff;
    border: 1px solid #E0E0E0;
    color: #000;
    width: 176px;
}

@media screen and (min-width: 768px){
.FirstViewContent__buttons a {
    transition: opacity 0.2s;
}
}

.FirstViewCaption {
    color: #A2A2A4;
    font-size: 12px;
}

p {
    color: #000;
    line-height: 1.5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.FirstViewCaption a {
    color: #A2A2A4;
}

.AboutWrapper {
    padding: 110px 0;
    background-color: #F79214;
    padding: 45px 0;
}

.About {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.About__title {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 0;
    width: 53%;
}

.About__title h2 {
    font-size: 40px;
    letter-spacing: 1px;
    width: 100%;
}

.About__title h2, .About__title p {
    color: #fff;
    text-align: left;
}

.About__title h2 {
    font-size: 46px;
    font-weight: 700;
    line-height: 74px;
}

.About__title h2>span {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.About__title h2 span {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 900;
}

.About__title h2 {
    font-size: 40px;
    letter-spacing: 1px;
    width: 100%;
}

.About__title h2, .About__title p {
    color: #fff;
    text-align: left;
}

.About__title br {
    display: none;
}

.About__title p {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 15px;
}

.About__title p {
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 10px;
    text-align: center;
}

.About__button {
    width: 250px;
}

.About__button a {
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: #F79214 !important;
    background-color: #fff;
}

@media screen and (min-width: 768px){
.About__button a:hover {
    opacity: 0.8;
}
}

.About__button a span:first-child {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.About__button a span:last-child {
    font-size: 12px;
    line-height: 18px;
}

@media screen and (min-width: 768px){
.About__button a {
    transition: opacity 0.2s;
}
}






